*{
    margin: 0;
    padding: 0;
    font-family: roboto;
    text-decoration: none;
    list-style: none;
    color: rgb(252, 247, 247);
}

body::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

/* Début de la mise en page de la barre de navigation */
nav{
    height: 80px;
    width: auto;
    background: #2b3f53;
    border-bottom: 3px solid rgb(35, 74, 250);
    justify-content: space-between;
    display: flex;
    padding: 0 100px;
}

label.logo{
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
    font-family: montseraf;
}

.logo:hover{
    animation: bordure 5s infinite;
    transition: all .1s;
}

@keyframes bordure {
    20% {border-bottom: 2px solid rgb(103, 169, 245);}
    40% {border-left: 2px solid rgb(43, 137, 245);}
    60% {border-top: 2px solid rgb(7, 100, 207);}
    80% {border-right: 2px solid rgb(1, 81, 172);}
    100% {border-bottom: 2px solid rgb(252, 103, 16); border-left: 2px solid rgb(255, 94, 0); 
        border-top: 2px solid rgb(214, 80, 3); border-right: 2px solid rgb(255, 134, 53); 
        border-radius: 5px; color: rgb(154, 192, 250);}
}

/* nav .menu{
    float: right;
    /* margin-right: 40px;
} */

.menu li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    cursor: pointer;
}

a:hover{
    color: rgb(243, 164, 44);
    transition: .5s all;
}

nav a:hover i{
    color: rgb(243, 164, 44);
    transition: .5s all;
}

nav #icon{
    font-size: 30px;
    line-height: 80px;
    float: right;
    /* margin-right: 40px; */
    cursor: pointer;
    display: none;
}

.sub-menu > li{
    display: flex;
    position: relative;
    background: #2b3f53;
    margin-top: -1px;
    line-height: 20px;
    margin-left: -20px;
}

.sub-menu a{
    font-size: 15px;
    border-left: 3px solid rgb(35, 74, 250);
    border-right: 3px solid rgb(35, 74, 250);
    width: 150px;
    margin-top: -0.8px;
}

.sub3{
    border-bottom: 3px solid rgb(35, 74, 250);
}

.sub-menu a:hover{
    border-left: 3px solid rgb(35, 74, 250);
    border-right: 3px solid rgb(35, 74, 250);
    border-bottom: 4px solid rgb(35, 74, 250);
    transition: none;
}

.sub-menu .sub3 a:hover {
    border: none;
    border-left: 3px solid rgb(35, 74, 250);
    border-right: 3px solid rgb(35, 74, 250);
}

.sub-menu{
    display: none;
}

.list1:hover .sub-menu{
    display: block;
    position: absolute;
}

.list2:hover .sub-menu{
    display: block;
    position: absolute;
}

/* Fin de la mise en page et debut de la responsivité de la barre de navigation */

/* Addapter pour Nest Hub, Nest Hub Max et les grand écrans */
@media screen and (max-width: 1200px) {
    nav{
        padding: 0 50px;
    }
    label.logo{
        font-size: 30px;
    }
    nav a{
        font-size: 15px;
    }
}

/* Addapter pour les Iphones et Samsung sauf Galaxy Fold, Surface Duo, Ipad Mini et Ipad Air */
@media screen and (max-width: 820px) {
    label.logo{
        font-size: 30px;
    }
    nav .menu{
        width: 80%;
        height: 100vh;
        background: #2b3f53;
        top: 80px;
        left: 100%;
        text-align: center;
        position: fixed;
        transition: all .5s;
    }
    
    .menu li{
        display: block;
        line-height: 50px;
        text-align: left;
    }

    nav a{
        font-size: 20px;
        text-align: left;
    }

    .bloc{
        margin-left: 15%;
    }

    nav #icon{
        display: block;
    }

    nav .menu.show{
        left: 20%;
        transition: all .5s;
    }

    .sub-menu{
        text-align: left;
        width: auto;
        margin-left: 80px;
        margin-top: -10px;
    }

    .sub-menu li:hover{
        border-bottom: 3px solid rgb(238, 255, 0);
    }

    .sub-menu .sub3:hover{
        border-bottom: none;
    }

    .sub-menu li{
        width: 250px;
        line-height: 30px;
        background: rgba(16, 16, 250, 0.815);
    }

    .sub-menu a{
        font-size: 17px;
        background: none;
    }
    .sub-menu a:hover{
        color: white;
    }
    .sub-menu a:hover{
        border-left: none;
        border-right: none;
        border-bottom: none;
        transition: none;
    }
    .sub-menu .sub3 a:hover {
        border: none;
        border-left: none;
        border-right: none;
    }
    .sub-menu a{
        font-size: 15px;
        border-left: none;
        border-right: none;
        width: 150px;
        margin-top: -0.8px;
    }
}

/* Addapter pour Ipad Air */
@media screen and (width: 820px) {
    label.logo{
        font-size: 30px;
    }
    nav .menu{
        width: 60%;
        height: 100vh;
        background: #2b3f53;
        top: 80px;
        left: 100%;
        text-align: center;
        position: fixed;
        transition: all .5s;
    }
    
    .menu li{
        display: block;
        line-height: 70px;
    }
    
    nav a{
        font-size: 28px;
        text-align: left;
    }

    nav #icon{
        display: block;
    }

    nav .menu.show{
        left: 40%;
        transition: all .5s;
    }

    .sub-menu{
        text-align: left;
        width: auto;
        margin-left: 120px;
        margin-top: -20px;
    }

    .sub-menu li{
        line-height: 50px;
    }

    .sub-menu a{
        font-size: 22px;
    }
}

/* Addapter pour Ipad Mini */
@media screen and (width: 768px) {
    label.logo{
        font-size: 30px;
    }
    nav .menu{
        width: 60%;
        height: 100vh;
        background: #2b3f53;
        top: 80px;
        left: 100%;
        text-align: center;
        position: fixed;
        transition: all .5s;
    }
    
    .menu li{
        display: block;
        line-height: 70px;
    }
    
    nav a{
        font-size: 28px;
        text-align: left;
    }

    nav #icon{
        display: block;
    }

    nav .menu.show{
        left: 40%;
        transition: all .5s;
    }

    .sub-menu{
        text-align: left;
        width: auto;
        margin-left: 120px;
        margin-top: -20px;
    }

    .sub-menu li{
        line-height: 50px;
    }

    .sub-menu a{
        font-size: 22px;
    }
}

/* Addapter pour Surface Duo */
@media screen and (width: 540px) {
    label.logo{
        font-size: 30px;
    }
    nav .menu{
        width: 60%;
        height: 100vh;
        background: #2b3f53;
        top: 80px;
        left: 100%;
        text-align: center;
        position: fixed;
        transition: all .5s;
    }
    
    .menu li{
        display: block;
        line-height: 50px;
    }
    
    nav a{
        font-size: 20px;
        text-align: left;
    }

    nav #icon{
        display: block;
    }

    nav .menu.show{
        left: 40%;
        transition: all .5s;
    }

    .sub-menu{
        text-align: left;
        width: auto;
        margin-left: 70px;
        margin-top: -10px;
    }

    .sub-menu li{
        line-height: 40px;
    }

    .sub-menu a{
        font-size: 17px;
    }
}

/* Addapter pour Galaxy Fold */
@media screen and (width: 280px) {
    nav{
        padding: 0 10px;
    }
    label.logo{
        font-size: 30px;
    }
    nav .menu{
        width: 80%;
        height: 100vh;
        background: #2b3f53;
        top: 80px;
        left: 100%;
        text-align: center;
        position: fixed;
        transition: all .5s;
    }
    
    .menu li{
        display: block;
        line-height: 40px;
    }
    
    nav a{
        font-size: 15px;
        text-align: left;
    }

    nav #icon{
        display: block;
    }

    nav .menu.show{
        left: 20%;
        transition: all .5s;
    }

    .sub-menu{
        text-align: left;
        width: auto;
        margin-left: 60px;
        margin-top: -10px;
    }

    .sub-menu li{
        line-height: 30px;
    }

    .sub-menu a{
        font-size: 12px;
    }
}
/* Fin de la responsivité de la barre de navigation */

/* Debut de la mise en page de la section */

section{
    background-image: url("../Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: calc(100vh - 83px);
}

section .b{
    font-family: montsera;
    font-weight: bold;
}

.content{
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    height: 100%;
    padding: 0 30px;
}

.message{
    text-align: center;
    padding-top: 120px;
    font-size: 80px;
}

.message .b{
    font-size: 100px;
}

.info{
    text-align: center;
    font-size: 25px;
}

.bloc-but{
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
}

button{
    width: 150px;
    height: 50px;
    padding: 0 5px;
    background: #2b3f53c2;
    border-radius: 50px;
    font-size: 20px;
    border: none;
}

.bloc-but .b{
    padding: 0 20px;
    font-weight: normal;
    font-family: roboto;
}

/* Fin de la mise en page et debut de la responsivité de la section */

/* Addapter pour Nest Hub et les grand écrans */
/* Addapter pour Nest Hub Max et les grand écrans */
@media screen and (width: 1280px) {
    .message{
        padding-top: 180px;
    }
}

@media screen and (width: 1024px) {
    .message{
        padding-top: 90px;
        font-size: 60px;
    }
    .message .b{
        font-size: 90px;
    }
}

/* Addapter pour surface pro 7 */
@media screen and (width: 912px) {
    .message span{
        display: block;
    }
    .message{
        padding-top: 150px;
        font-size: 80px;
    }
    .message .b{
        font-size: 130px;
    }
    .info{
        font-size: 35px;
    }
    button{
        width: 180px;
        height: 60px;
        font-size: 25px;
    }
}

/* Addapter pour Ipad Air */
@media screen and (width: 820px) {
    .message span{
        display: block;
    }
    .message{
        padding-top: 150px;
        font-size: 80px;
    }
    .message .b{
        font-size: 130px;
    }
    .info{
        font-size: 35px;
    }
    button{
        width: 180px;
        height: 60px;
        font-size: 25px;
    }
}

/* Addapter pour Ipad Mini */
@media screen and (width: 768px) {
    .message span{
        display: block;
    }
    .message{
        padding-top: 150px;
        font-size: 80px;
    }
    .message .b{
        font-size: 130px;
    }
    .info{
        font-size: 35px;
    }
    button{
        width: 180px;
        height: 60px;
        font-size: 25px;
    }
}

/* Addapter pour surface Duo */
@media screen and (width: 540px) {
    .message span{
        display: block;
    }
    .message{
        padding-top: 60px;
        font-size: 40px;
    }
    .message .b{
        font-size: 80px;
    }
    .info{
        font-size: 22px;
    }
    button{
        width: 150px;
        height: 50px;
        font-size: 22px;
    }
}
/* Addapter pour les Iphones et Samsung sauf Galaxy Fold, Surface Duo, Ipad Mini et Ipad Air */
@media screen and (max-width: 500px) {
    .message span{
        display: block;
    }
    .message{
        padding-top: 60px;
        font-size: 40px;
    }
    .message .b{
        font-size: 60px;
    }
    .info{
        font-size: 18px;
    }
    .bloc-but{
        margin-top: 30px;
    }
    .bloc-but span{
        display: block;
        margin-top: 10px;
    }
    button{
        height: 50px;
    }
}

/* Addapter pour Samsung s8+ */
@media (width: 360px) {
    .message span{
        display: block;
    }
    .message{
        padding-top: 60px;
        font-size: 35px;
    }
    .message .b{
        font-size: 55px;
    }
    .info{
        font-size: 15px;
    }
    .bloc-but{
        margin-top: 30px;
    }
    .bloc-but span{
        display: block;
        margin-top: 10px;
    }
    button{
        height: 50px;
    }
}

/* Addapter pour surface Duo */
@media (width: 280px) {
    .message span{
        display: block;
    }
    .message{
        padding-top: 50px;
        font-size: 35px;
    }
    .message .b{
        font-size: 40px;
    }
    .info{
        font-size: 15px;
    }
    button{
        width: 120px;
        height: 50px;
        font-size: 15px;
    }
}

/* Fin de la responsivité de la section et debut de la mise en page du footer */
footer{
    width: auto;
    height: auto;
    background-color: #16212c;
}

.footer{
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}

.footer .span{
    display: flex;
    width: 50%;
}

.footer div{
    padding: 15px 0;
    width: auto;
    text-align: justify;
    font-size: 15px;
    width: 50%;
}

.footer div span:first-child{
    font-size: 30px;
    padding-bottom: 10px;
}

.footer div span{
    color: #dddada;
}

.un{
    margin-right: 130px;
}

.deux{
    margin-right: 20px;
}

.trois{
    margin-right: 40px;
    margin-left: 30px;
}

.un i{
    font-size: 25px;
    padding-left: 15px;
    padding-top: 10px;
}

.un i:hover{
    color: #72bcf8;
}

.un i:first-child{
    padding-left: 0;
}

footer span{
    font-family: roboto;
    display: block;
    padding-top: 5px;
    cursor: pointer;
}

.deux span:hover{
    color: #fc9c42;
    cursor: pointer;
    padding-left: 5px;
    transition: all .5s;
}

.deux .span-un:hover{
    color: #dddada;
    cursor: pointer;
    padding-left: 0;
}

.trois span:hover{
    color: #fc9c42;
    cursor: pointer;
    padding-left: 5px;
    transition: all .5s;
}

.trois .span-un:hover{
    color: #dddada;
    cursor: pointer;
    padding-left: 0;
}

.bar{
    border-bottom: 1px solid #999595;
}

.copy{
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    color: #dddada;
    cursor: pointer;
}

.quatre i {
    font-size: 18px;
    padding-right: 10px;
    color: rgb(137, 137, 231);
}

/* Fin de la mise en page du footer et debut de la responsivité */

/* Addapter pour next hub Max */
@media screen and (width: 1280px) {
    .footer{
        padding: 0 100px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer .span{
        display: flex;
        width: 50%;
    }
    
    .footer div{
        padding: 15px 0;
        width: auto;
        text-align: justify;
        font-size: 15px;
        width: 50%;
    }
    
    .footer div span:first-child{
        font-size: 30px;
        padding-bottom: 10px;
    }
    
    .footer div span{
        color: #dddada;
    }
    
    .un{
        margin-right: 100px;
    }
    
    .deux{
        margin-right: 20px;
    }
    
    .trois{
        margin-right: 40px;
        margin-left: 30px;
    }
}

/* Addapter pour next hub */
@media screen and (width: 1024px) {
    .footer{
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer .span{
        display: flex;
        width: 50%;
    }
    
    .footer div{
        padding: 15px 0;
        width: auto;
        text-align: justify;
        font-size: 15px;
        width: 50%;
    }
    
    .footer div span:first-child{
        font-size: 30px;
        padding-bottom: 10px;
    }
    
    .footer div span{
        color: #dddada;
    }
    
    .un{
        margin-right: 60px;
    }
    
    .deux{
        margin-right: 10px;
    }
    
    .trois{
        margin-right: 0px;
        margin-left: 0px;
    }
}

/* Addapter pour Surface Pro 7 */
@media screen and (width: 912px) {
    .footer{
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer .span{
        display: block;
        width: 50%;
        height: auto;
    }
    
    .footer div{
        padding: 15px 0;
        text-align: justify;
        font-size: 15px;
        width: 100%;
    }
    
    .footer div span:first-child{
        font-size: 30px;
        padding-bottom: 10px;
    }
    
    .footer div span{
        color: #dddada;
        font-size: 20px;
    }
    .trois{
        margin-left: 0;
    }
    .footer .span:last-child{
        margin-left: 200px;
    }
    .quatre{
        margin-top: 20px;
    }
    
}

/* Addapter pour Ipad Air */
@media screen and (width: 820px) {
    .footer{
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer .span{
        display: block;
        width: 50%;
    }
    
    .footer div{
        padding: 15px 0;
        text-align: justify;
        font-size: 15px;
        width: 100%;
    }
    
    .footer div span:first-child{
        font-size: 30px;
        padding-bottom: 10px;
    }
    
    .footer div span{
        color: #dddada;
        font-size: 20px;
    }
    .trois{
        margin-left: 0;
    }
    .footer .span:last-child{
        margin-left: 100px;
    }
    .quatre{
        margin-top: 20px;
    }
    
}

/* Addapter pour Ipad Mini */
@media screen and (width: 768px) {
    .footer{
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer .span{
        display: block;
        width: 50%;
    }
    
    .footer div{
        padding: 15px 0;
        text-align: justify;
        font-size: 15px;
        width: 100%;
    }
    
    .footer div span:first-child{
        font-size: 30px;
        padding-bottom: 10px;
    }
    
    .footer div span{
        color: #dddada;
        font-size: 20px;
    }
    .trois{
        margin-left: 0;
    }
    .footer .span:last-child{
        margin-left: 60px;
    }
    .quatre{
        margin-top: 20px;
    }
}

/* Addapter pour Ipad Mini */
@media screen and (width: 540px) {
    .footer{
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer .span{
        display: block;
        width: 50%;
    }
    
    .footer div{
        padding: 15px 0;
        text-align: justify;
        font-size: 15px;
        width: 100%;
    }
    
    .footer div span:first-child{
        font-size: 30px;
        padding-bottom: 10px;
    }
    
    .footer div span{
        color: #dddada;
        font-size: 12px;
    }
    .trois{
        margin-left: 0;
    }
    .footer .span:last-child{
        margin-left: 40px;
    }
    .quatre{
        margin-top: 20px;
    }
    
}

/* Addapter pour Les Iphones et Samsungs S */
@media (max-width: 500px) {
    .footer{
        padding: 0 50px;
        display: block;
    }
    .footer div{
        padding: 15px 0;
        text-align: justify;
        font-size: 15px;
        width: 100%;
    }
    .footer .span{
        display: block;
        width: auto;
    }    
    .un{
        margin-right: 0;
    }
    
    .deux{
        margin-right: 0;
    }
    
    .trois{
        margin-right: 0;
        margin-left: 0;
    }
}